<!--  SETTING VIEW FONT SIZE -->
<div id="fontsize-setting" class="ui-window-page">
	<div class="ui-window-page-content">
		<div class="ui-window-header"><#=id_font_setting#></div>
		<div class="setting-content">
			<ul>
				<li id='small' onclick="settingFontSize('small',this)"><#=id_small#></li>
				<li id='medium' onclick="settingFontSize('medium',this)"><#=id_medium#></li>
				<li id='large' onclick="settingFontSize('large',this)"><#=id_large#></li>
			</ul>			
		</div>
	</div>

	<div class="ui-window-toolbar">
		<div class="center-btn">
			&nbsp;
		</div>

		<div class="right-btn">
			<img src="s40-theme/images/bm-toolbar-back-button.png" width="46" height="46" onclick="mwl.switchClass('#fontsize-setting', 'show', 'hide');mwl.switchClass('#options-menu', 'hide', 'show');" />
		</div>
	</div>
</div>