				<!-- TOOLBAR-1 > MAIN TIMELINE -->
				<div id="toolbar-1" class="hide">
					<div class="center-btn">
	 					<img id="active-toolbar-btn" src="s40-theme/images/bm-toolbar-options-button.png" width="46" height="46" onclick="mwl.switchClass('#options-menu', 'hide', 'show'); mwl.switchClass('#containerid', 'show', 'hide');" />

					</div>
	
					<div class="right-btn">
 						<img id="active-reload-btn" src="s40-theme/images/bm-toolbar-reload-button.png" width="46" height="46" onclick="mwl.switchClass('#toolbar-1', 'show', 'hide'); mwl.switchClass('#toolbar-3', 'hide', 'show'); Kismet.setStoriesListAndDetailView();" />		
					</div>
				</div>

				<!-- TOOLBAR-2 > SINGLE STORY PAGE -->
				<div id="toolbar-2" class="hide">
					<div id="toolbar-2-center-btn" class="center-btn"></div>
					<div class="right-btn" id="backBtnFromSingleStory"></div>
				</div>
